@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

.mpin {
  background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L2pvYjQ3My1rd2FuLTAyLWEtam9iNTk4LmpwZw.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.mpintxt {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
