@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

.mpin {
  background-image: url(https://i.imgur.com/zYEhqvX.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.mpintxt {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
